body {
    background: url("../img/subtle-pattern-7.jpg") repeat;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    font-size: 12pt;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.content {

    border: #000000 1px solid;

}
.bigTitle1 {
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    padding: 5px;
    border: 1px #000000 solid;
    cursor: default;
    font-family: "Bookman", Georgia, "Times New Roman", serif;

 }
.bigTitle2 {
    float: left;
    margin-top: 50px;
    margin-left: 25px;
    padding: 5px;
    border: 1px #000000 solid;
    cursor: default;
    font-family: 'tinymce', Arial;

 }
.bigTitle :hover {

    background: rgba(32, 100, 41, 0.40);
    -webkit-transition: all 0.5s;
    -moz-transition: all   0.5s;
    -o-transition: all 0.5s;
    transition: all  0.5s;
}
.middleTitle {
    float: left;
    width: 1650px;

    margin: 50px;
    border: 1px #000000 solid;
    -webkit-column-count: 2;
    padding: 10px;
 }

.smallTitle {
    float: left;
    width: 650px;

    margin: 50px;
    border: 1px #000000 solid;
    -webkit-column-count: 2;
    padding: 10px;

}

.textBlock {

    float: left;
    width: 748px;
    height: 2280px;
    margin: 50px;
    border: 1px #000000 solid;
    -webkit-column-count: 4;
    column-width: 10em;

}
h1 {
    -webkit-column-span: all;
    column-span:all;
    border: none;

}
.header1 {
    position: absolute;
    width: 100%;
    text-align: center;
}
.header2 {
    position: absolute;
    width: 90%;
    text-align: center;
}