
<div class="container-fluid">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h2 class="sub-header">Газеты
            <button class="btn btn-primary btn" style="float: right; margin-right: 10px" data-toggle="modal" data-target="#myModal">
                Добавить
            </button>
        </h2>

        <div class="table-responsive">

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Новая газета</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="newspaperForm">
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Название газеты</label>
                                        <div class="controls">
                                            <input id="user_login" ng-model="newspaperForm.name" name="type_name" type="text" placeholder="Этап" class="form-control input-xlarge">

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Дата</label>
                                        <div class="controls">
                                            <input id="user_ldo3gi3n" ng-model="newspaperForm.date" name="type_name" type="text" placeholder="Этап" class="form-control input-xlarge">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Шрифт times new roman</label>
                                        <input  ng-model="newspaperForm.font" name="group1" type="checkbox" placeholder="" class="" value="Да">

                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Номер</label>
                                        <div class="controls">
                                            <input id="user_ld3gin" ng-model="newspaperForm.number" name="type_name" type="text" placeholder="Этап" class="form-control input-xlarge">

                                        </div>
                                    </div>
                                </fieldset>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="myData.addNewspaper(newspaperForm)">Создать</button>
                                </div>

                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Новая газета</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="newspaperFormEdit">
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Название газеты</label>
                                        <div class="controls">
                                            <input id="user_ldogin" ng-model="newspaperFormEdit.name" name="type_name" type="text" placeholder="Этап" class="form-control input-xlarge">

                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Дата</label>
                                        <div class="controls">
                                            <input id="user_ldogi3n" ng-model="newspaperFormEdit.date" name="type_name" type="text" placeholder="Этап" class="form-control input-xlarge">

                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Шрифт times new roman</label>
                                        <input  ng-model="newspaperFormEdit.font" name="group" type="checkbox" value="true" ng-true-value="1" ng-false-value="0">

                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Номер</label>
                                        <div class="controls">
                                            <input id="user_ldo2gin" ng-model="newspaperFormEdit.number" name="type_name" type="text" placeholder="Этап" class="form-control input-xlarge">

                                        </div>
                                    </div>
                                    <input type="hidden" ng-model="newspaperFormEdit.id">
                                </fieldset>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="myData.editNewspaper(newspaperFormEdit)">Изменить</button>
                                </div>

                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            <div class="container-fluid">
                <div class="row">


                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Название типа</th>
                                <th>Удалить</th>
                                <th>Изменить</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="newspaper in newspapers | filter:query | orderBy:user_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ">
                                <th>{{newspaper.type_id}}</th>
                                <th><a href="?#/newspaper/{{ newspaper.id }}">{{newspaper.name}}</a></th>
                                <th> <span style="margin-left:22% " ng-click="myData.delete(newspaper.id)" class="glyphicon glyphicon-minus-sign"></span></th>
                                <th> <span style="margin-left:22% " ng-click="edit(newspaper)" class="glyphicon glyphicon glyphicon-pencil"></span></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>







</div>