<button class="btn btn-primary btn" style="float: right; margin-right: 10px" data-toggle="modal" data-target="#myModal">
    Добавить
</button>
<div style="position: absolute;  border: 1px #000000 solid; width: 1200px;; left: 100px; top: 100px;">
    <div class="header1">
        <div style="font-size: 34px; ">{{ newspaper[0].name }}</div>
    </div>
    <div class="header2">
        <div style="font-size: 24px; float: right">{{ newspaper[0].date }}</div>
    </div>
    <div class="container-fluid">
        <div style="font-size: 34px;">№ {{ newspaper[0].number }} </div>



        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Новая статья</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="newspaperForm">
                            <fieldset>
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="user_login">Заголовок</label>
                                    <div class="controls">
                                        <input id="user_login" ng-model="newspaperForm.title" name="type_name" type="text" placeholder="" class="form-control input-xlarge">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="user_login">Заголовок в колонке</label>
                                    <input  ng-model="newspaperForm.title_in" name="group1" type="checkbox" placeholder="" class="" value="Да">

                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="user_login">Количество столбцов</label>
                                    <select class="controls" ng-model="newspaperForm.count">

                                        <option value="1" checked>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>

                                    </select>
                                </div>

                                <input type="hidden" ng-model="newspaperForm.id">

                                <div class="control-group">
                                    <label class="control-label" for="user_login">Текст</label>
                                    <div class="controls">
                                        <textarea style="height: 400px" id="user_gin" ng-model="newspaperForm.text" name="type_name" type="textarea" placeholder="" class="form-control input-xlarge"> </textarea>

                                    </div>
                                </div>
                            </fieldset>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="myData.addNews(newspaperForm)">Создать</button>
                            </div>

                        </form>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Новая статья</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="newspaperFormEdit">
                            <fieldset>
                                <!-- Text input-->
                                <div class="control-group">
                                    <label class="control-label" for="user_login">Заголовок</label>
                                    <div class="controls">
                                        <input id="user_login1" ng-model="newspaperFormEdit.title" name="type_name" type="text" placeholder="" class="form-control input-xlarge">

                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="user_login">Заголовок в колонке</label>
                                    <input  ng-model="newspaperFormEdit.title_in" name="group1" type="checkbox" placeholder="" class="" value="Да">

                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="user_login">Количество столбцов</label>
                                    <select class="controls" ng-model="newspaperFormEdit.count">

                                        <option value="1" checked>1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>

                                    </select>
                                </div>

                                <input type="hidden" ng-model="newspaperFormEdit.id">

                                <div class="control-group">
                                    <label class="control-label" for="user_login">Текст</label>
                                    <div class="controls">
                                        <textarea style="height: 400px" id="use2r_gin" ng-model="newspaperFormEdit.text" name="type_name" type="textarea" placeholder="" class="form-control input-xlarge"> </textarea>

                                    </div>
                                </div>
                            </fieldset>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="myData.editNews(newspaperFormEdit)">Изменить</button>
                            </div>

                        </form>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="content" id="cont">

            <div ng-repeat=" content in contents">

                <div class="{{ class }}" ng-if="(content.col == 1 && content.checked == 1)" ng-click="edit(content)" style="-webkit-column-count: 1; width: 270px;"><h1>{{content.label}}</h1><div>{{content.text}}  </div></div>
                <div class="{{ class }}" ng-if="(content.col == 1 && content.checked == 0)" ng-click="edit(content)"><h1 style="width: 270px;">{{content.label}}</h1><div  style="-webkit-column-count: 1; width: 270px;">{{content.text}}  </div></div>
                <div class="{{ class }}" ng-if="(content.col == 2 && content.checked == 1)" ng-click="edit(content)" style="-webkit-column-count: 2; width: 540px;"><h1>{{content.label}}</h1><div>{{content.text}}  </div></div>
                <div class="{{ class }}" ng-if="(content.col == 2 && content.checked == 0)" ng-click="edit(content)"><h1 style="width: 540px;">{{content.label}}</h1><div  style="-webkit-column-count: 2; width: 540px;">{{content.text}}  </div></div>
                <div class="{{ class }}" ng-if="(content.col == 3 && content.checked == 1)" ng-click="edit(content)" style="-webkit-column-count: 3; width: 810px;"><h1>{{content.label}}</h1><div>{{content.text}}  </div></div>
                <div class="{{ class }}" ng-if="(content.col == 3 && content.checked == 0)" ng-click="edit(content)"><h1 style="width: 810px;">{{content.label}}</h1><div  style="-webkit-column-count: 3; width: 810px;">{{content.text}}  </div></div>
                <div class="{{ class }}" ng-if="(content.col == 4 && content.checked == 1)" ng-click="edit(content)" style="-webkit-column-count: 4; width: 1080px;"><h1>{{content.label}}</h1><div>{{content.text}}  </div></div>
                <div class="{{ class }}" ng-if="(content.col == 4 && content.checked == 0)" ng-click="edit(content)"><h1 style="width: 1080px;">{{content.label}}</h1><div  style="-webkit-column-count: 4; width: 1080px;">{{content.text}}  </div></div>

            </div>
        </div>
    </div>
</div>