
<div class="container-fluid">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <h2 class="sub-header">Этапы
            <button class="btn btn-primary btn" style="float: right; margin-right: 10px" data-toggle="modal" data-target="#myModal">
                Добавить
            </button>
        </h2>

        <div class="table-responsive">
            <div class="modal fade" id="user_card" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Данные пользователя</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="">
                                <fieldset>

                                    <!-- Form Name -->

                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Логин:</label>
                                        <div class="controls">
                                            {{ user_login }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Пароль:</label>
                                        <div class="controls">
                                            {{ user_pass }}
                                        </div>
                                    </div>
                                </fieldset>


                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                </div>

                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Новый тип</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="typeForm">
                                <fieldset>
                                    <!-- Text input-->
                                    <div class="control-group">
                                        <label class="control-label" for="user_login">Название типа</label>
                                        <div class="controls">
                                            <input id="user_login" ng-model="typeForm.type_name" name="type_name" type="text" placeholder="Этап" class="form-control input-xlarge">

                                        </div>
                                    </div>
                                </fieldset>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="myData.create(typeForm)">Создать</button>
                                </div>

                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->


            <div class="container-fluid">
                <div class="row">


                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th>Название типа</th>
                                <th>Удалить</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="type in types | filter:query | orderBy:user_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ">
                                <th>{{type.type_id}}</th>
                                <th><a href="?#/type/{{ type.type_id }}">{{type.type_name}}</a></th>
                                <th> <span style="margin-left:22% " ng-click="myData.delete(type.type_id)" class="glyphicon glyphicon-minus-sign"></span></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>







</div>