<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Новое дело</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="case_last_name">Фамилия</label>
                            <div class="controls">
                                <input id="case_last_name" name="case_last_name" type="text" placeholder="Иванов" class="form-control input-xlarge">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="case_name">Имя</label>
                            <div class="controls">
                                <input id="case_name" name="case_name" type="text" placeholder="Иван" class="form-control input-xlarge">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="case_patronymic">Отчество</label>
                            <div class="controls">
                                <input id="case_patronymic" name="case_patronymic" type="text" placeholder="Иванович" class=" form-control input-xlarge">

                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="control-group">
                            <label class="control-label" for="type_id">Тип дела</label>
                            <div class="controls">
                                <select id="type_id" name="type_id" class=" form-control input-xlarge">
                                    <option>Option one</option>
                                    <option>Option two</option>
                                </select>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="myData.doClick()">Создать</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="container-fluid">

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


        <h2 class="sub-header">Дела</h2>



        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Фамилия, имя, отчество</th>
                    <th>Вид дела</th>
                    <th>Дата принятия заявление на назначения</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="cases in cases | filter:query | orderBy:case_id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ">
                    <th>{{cases.case_id}}</th>
                    <th> {{cases.case_last_name}} {{cases.case_name}} {{cases.case_patronymic}}</th>
                    <th> {{cases.type_id | caseType}}</th>
                    <th> {{cases.case_create_date*1000 | date : 'yyyy-MM-dd HH:mm' }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
