
<div class="container">

    <form class="form-signin" role="form" id="userForm">
        <h2 class="form-signin-heading">Авторизуйтесь</h2>
        <input ng-model="user.login" type="email" class="form-control" placeholder="Логин" required autofocus>
        <input ng-model="user.pass" type="password" class="form-control" placeholder="Пароль " required>

        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="submit(user)">Войти</button>
    </form>

</div> <!-- /container -->
