
<div class="container-fluid">

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


            <h2 class="sub-header">Пользователи
                <button class="btn btn-primary btn" style="float: right; margin-right: 10px" data-toggle="modal" data-target="#myModal">
                    Добавить
                </button>
            </h2>

            <div class="table-responsive">
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Новое дело</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="userForm">
                                    <fieldset>

                                        <!-- Form Name -->

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="user_login">Логин</label>
                                            <div class="controls">
                                                <input id="user_login" ng-model="userForm.user_login" name="user_login" type="text" placeholder="login" class="form-control input-xlarge">

                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="user_last_name">Фамилия</label>
                                            <div class="controls">
                                                <input id="user_last_name" ng-model="userForm.user_last_name" name="user_last_name" type="text" placeholder="Иванов" class="form-control input-xlarge">

                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="user_name">Имя</label>
                                            <div class="controls">
                                                <input id="user_name" ng-model="userForm.user_name" name="user_name" type="text" placeholder="Иван" class="form-control input-xlarge">

                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="control-group">
                                            <label class="control-label" for="user_patronymic">Отчество</label>
                                            <div class="controls">
                                                <input id="user_patronymic" ng-model="userForm.user_patronymic" name="user_patronymic" type="text" placeholder="Иванович" class=" form-control input-xlarge">

                                            </div>
                                        </div>

                                        <!-- Select Basic -->
                                        <div class="control-group">
                                            <label class="control-label" for="user_type">Тип специалиста</label>
                                            <div class="controls">
                                                <select id="user_type" ng-model="userForm.user_type" name="user_type" class=" form-control input-xlarge">
                                                    <option value="1">Админ</option>
                                                    <option value="2">Специалист ЦВП</option>
                                                    <option value="3">Специалист ОНиПП</option>
                                                    <option value="4">Cпециалист районного отдела</option>
                                                </select>
                                            </div>
                                        </div>

                                    </fieldset>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                        <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="myData.doClick(userForm)">Создать</button>
                                    </div>

                                </form>

                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


                <div class="container-fluid">
                    <div class="row">


                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Фамилия</th>
                                    <th>Имя</th>
                                    <th>Отчество</th>
                                    <th>Тип профиля</th>
                                    <th>Удалить</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in users | filter:query | orderBy:user_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ">
                                    <th>{{user.user_last_name}}</th>
                                    <th> {{user.user_name}}</th>
                                    <th> {{user.user_patronymic}}</th>
                                    <th> {{user.user_type | userType }}</th>
                                    <th> <span style="margin-left:22% " ng-click="myData.deleteUser(user.user_token)" class="glyphicon glyphicon-minus-sign"></span></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
    </div>
</div>







</div>