<!doctype html>
<html lang="en" ng-app="accountingDocsApp">
<head>
    <meta charset="utf-8">
    <title>Учет документации ПФР по РД</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootsnipp.css?ver=3dad078c6953f3a8a72bbfccae6365ae">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/signin.css">
    <link rel="stylesheet" href="css/dashboard.css">


    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-md5/angular-md5.js"></script>
    <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="js/app.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<!-- Fixed navbar -->
<div ng-controller="HeaderCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" style="" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Учет документации</a>
        </div>
        <a class="navbar-brand" href=""> {{  user.user_last_name}} {{ user.user_name }} </a>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <!--  <li class="active"><a href="#">Главная</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Action</a></li>
                          <li class="divider"></li>
                          <li class="dropdown-header">Nav header</li>
                          <li><a href="#">Separated link</a></li>
                          <li><a href="#">One more separated link</a></li>
                      </ul>
                  </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="logout()">Выход</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div ng-controller="LeftMenuRowCtrl">
    <div  ng-if="checkUserType()" class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="" ng-click="redirect('/users')">Пользователи</a></li>
            <li><a href="" ng-click="redirect('/case')">Активные дела</a></li>
            <li><a href="" ng-click="redirect('/users')">Архив дел</a></li>
            <li><a href="" ng-click="redirect('/CVP')">Дела в ЦВП</a></li>
            <li><a href="" ng-click="redirect('/ONIPP')">Дела в ОНИПП</a></li>
            <li><a href="" ng-click="redirect('/users')">Настройки</a></li>
        </ul>
    </div>
</div>

<div class="view-container">
    <div ng-view class="view-frame"></div>
</div>


</body>
</html>
